<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            <link href="{{ asset('/assets/css/style.css')}}" rel="stylesheet">
            <link href="{{ asset('/assets/css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/carousel.css') }}" rel="stylesheet">
            <link href="{{ asset('/assets/css/custom.css')}}" rel="stylesheet">
            <script src="https://unpkg.com/feather-icons"></script>
        {% endblock %}

    </head>
    <body class="d-flex flex-column min-vh-100">
        {% include 'layout/header.html.twig' %}

        <main>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
            {% for message in app.flashes('danger') %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
                {% block body %}{% endblock %}
        </main>

        {% include 'layout/footer.html.twig' %}
        {% block javascripts %}
            <script src="{{ asset('/assets/js/bootstrap.bundle.min.js') }}"></script>
            <script src="{{ asset('/assets/js/global.js') }}"></script>
        {% endblock %}
    </body>
</html>
